$theme-colors: (
    'firstColor': #fd2d01,
    'secondColor': #ffd7d7,
    'thirdColor': #4e5166,
);

.fade-enter-active, .fade-leave-active {
    transition: opacity 2s ease-in;
}
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";