$primary: red;

// body {
//     text-decoration: none;
//     background-image: url("../../public/images/background.jpg")
// }

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease;
}
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";