$theme-colors: (
  "firstColor": #fd2d01,
  "secondColor": #ffd7d7,
  "thirdColor": #4e5166,
);

.slide-fade-enter-active {
  transition: all 0.2s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(.17,.67,.83,.67);
}
.slide-fade-enter, .slide-fade-leave-to {
  opacity: 0;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
